html, body, [bind-component="AppRootComponent"] {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* Style the scrollbar */
::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #000000;
    /* Track of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background: #0044ff;
    /* Thumb (handle) of the scrollbar */
}

::-webkit-scrollbar-thumb:hover {
    background: #1b2957;
    /* Hover state of the thumb */
}

/* For Firefox */
* {
    scrollbar-width: thin;
    /* Width of the scrollbar */
    scrollbar-color: #000000 #f1f1f1;
    /* Thumb and track color */
}

/* Remove focus outline for mouse users */
*:focus-visible {
    outline: none;
}

.toaster-notification {
    position: fixed;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
    z-index: 5000;
    opacity: 0;

    background-color: rgba(0, 0, 0, 0.63);
    color: white;
    border-bottom: 2px dashed transparent;
    box-shadow: 3px 3px 8px black;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease;

    .close-button {
        margin-left: 10px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
}