<div class="conditions-sample-root">
    <div class="section-content">
        <label class="label medium">Conditions sample and nested components</label>
        <div bind-if="visible">
            Content for hide/show
        </div>
        <button bind-event="click:onShow">
            Show
        </button>
        <button bind-event="click:onHide">
            Hide
        </button>
    
        <div>
            <label class="label small">
                visible as property of this context is 
                <span bind-text="visible"></span>
            </label>
        </div>
    </div>
</div>