.html-client-component-root {
    .ajax-loader {
        background-image: url('../../assets/ajax-loader.gif');
        background-position: center center;
        background-size: 24px 24px;
        height: 24px;
        width: 24px;
        display: inline-block;
    }
}