.html-client-component-root {
    .ajax-loader {
        background-image: url('../../assets/ajax-loader.gif');
        background-position: center center;
        background-size: 64px 64px;
        height: 64px;
        width: 64px;
        display: inline-block;
    }
}