<div class="repeatable-component-root">
    <div class="section-content">
        <label class="label medium">Repeating values example</label>
        <div bind-for="testArray;item;track">
            <div bind="item.value" bind-event="click:testClick" bind-class="green-item:greenStyledItem"></div>
            <div bind="item.testProp" bind-event="click:testClick" bind-class="blue-item:blueStyledItem"></div>
        </div>
        <div bind-for="testArray;item;track">
            <div>
                <div>
                    <div bind-class="green-item:greenStyledItem" bind="item.value" bind-event="click:testClick"></div>
                </div>
            </div>
        </div>
    </div>
</div>