<div class="simple-binding-root">
    <div class="section-content">
        <label class="label medium">Simple binding example</label>
        <div style="background-color: crimson;" bind-dom-property="innerHTML:testProperty"></div>
        <div bind-text="testProperty"></div>
        <div bind-text="complexObject.property1"></div>
        <div bind-text="complexObject.deepProperty.test"></div>
        <input type="text" 
                bind-value="complexObject.deepProperty.test" 
                bind-event="keydown:onDeepValueChanged" />
        <input type="text" 
                bind-value="testProperty" 
                bind-event="keydown:onValueChanged" />

        <div>
            <label bind-if="isVisibleProperty" class="label small">
                Component property bindings from outside
            </label>
        </div>
    </div>
</div>