[bind-component="ClockComponent"] {
    position: absolute;
    z-index: 9999;
    top: 1%;
    left: 70%;
    box-shadow: 8px 8px 12px black;
    border-radius: 5px;

    .clock-component-root {    
        .clock {
            font-family: fantasy;
            font-size: 2em;
            color: rgb(255, 115, 0);
            background-color: #13171c;
            border-top: none;
            padding: 20px;
            text-align: center;
            transition: all 1s;
        }
    
        .clock-time {
            display: inline-block;
            min-width: 200px;
        }
    
        .handle {
            text-align: center;
            background-color: #13171c;
            color: white;
            cursor: grab;
            position: relative;
            .grab-handle {
                display: inline-block;
                padding: 0 30px;
                background-color: #333e4b;
                position: absolute;
                top: -10px;
                left: 35%;
                border-radius: 5px;
                border: 1px solid #000000;
            }
        }
    }
}