
.notification {
    position: fixed;
    right: 10px;
    padding: 20px;
    border-radius: 5px;
    z-index: 9999;
    opacity: 0;

    background-color: rgba(0, 0, 0, 0.63);
    color: white;
    border-bottom: 2px dashed transparent;
    box-shadow: 3px 3px 8px black;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease;

    min-width: 330px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .title {
        font-size: 18px;
        display: flex;
        justify-content: stretch;
        align-items: center;
        width: 100%;

        &>div {
            flex-grow: 1;
        }
    }

    .body {
        font-size: 14px;
        max-height: 80px;
        text-overflow: ellipsis;
        max-width: 400px;
        overflow: hidden;
        white-space: pre-wrap;
    }

    .close-button {
        background-color: rgba(0, 0, 0, 0.63);
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        padding: 5px 10px;
        opacity: 0.5;
    }

    .close-button:hover {
        opacity: 1;
    }

    &.info {
        background-color:#008ecd!important;
    }

    &.success {
        background-color: #00c367!important;
    }

    &.error {
        background-color: #ed143d94!important;
    }
}