<div class="app-component-root">
    <div class="header">
        <div class="label big">SharkJS</div>
        <div class="shark-js-logo"></div>
    </div>
    <div class="body">
        <!-- <div bind-component="SimpleBindingSampleComponent"></div>
        <div bind-component="RepeatableSampleComponent"></div>
        <div bind-component="EventsSampleComponent"></div>
        <div bind-component="DashboardComponent"></div> -->
        <div bind-component="ConditionsSampleComponent"></div>
    </div>
</div>