<div class="app-component-root">
    <div class="header">
        <div class="shark-js-logo"></div>
        <div class="label big">SharK</div>
    </div>
    <div class="body">
        <div class="navigation-panel">
            <label class="samples-title label medium">Samples</label>
            <hr />
            <div bind-for="components;component;idx">
                <div class="navigation-btn" bind-event="click:onSelectPage:{component}">
                    <div class="gear-icon"></div>
                    <div class="btn-title" bind="component.title"></div>
                </div>
            </div>
        </div>
        <div class="selected-page-content">
            <div bind-if="components[1].visible" bind-component="SimpleBindingSampleComponent"></div>
            <div bind-if="components[2].visible" bind-component="RepeatableSampleComponent"></div>
            <div bind-if="components[3].visible" bind-component="EventsSampleComponent"></div>
            <div bind-if="components[4].visible" bind-component="ConditionsSampleComponent"></div>
            <div bind-if="components[5].visible" bind-component="HttpClientSampleComponent"></div>
            <div bind-if="components[6].visible" bind-component="PropertyBindingsSampleComponent"></div>
            
            <div bind-if="codingSectionVisible">
                <div class="section-content">
                    <label class="label medium">HTML</label>
                    <code id="highlight-container-html" bind-text="selectedComponentData.html"></code>
                </div>
                <div class="section-content">
                    <label class="label medium">TypeScript</label>
                    <code id="highlight-container-ts" bind-text="selectedComponentData.ts"></code>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div>® Vladimir Parchev in 2025</div>
        <div class="shark-js-logo"></div>
    </div>
</div>