<div class="app-component-root">
    <div class="header">
        <div class="shark-js-logo"></div>
        <div class="label big">SharK</div>
        <div bind-component="AnalogueClockComponent"></div>
    </div>
    <div class="body">
        <div class="navigation-panel">
            <label class="samples-title label medium">Core</label>
            <hr />
            <div bind-for="componentSamples;component;idx">
                <div class="navigation-btn" bind-event="click:onSelectPage:{component}">
                    <div class="icon"></div>
                    <div class="btn-title" bind="component.title"></div>
                </div>
            </div>
            <label class="samples-title label medium">Components</label>
            <hr />
            <div bind-for="components;component;idx">
                <div class="navigation-btn" bind-event="click:onSelectComponent:{component}">
                    <div class="icon"></div>
                    <div class="btn-title" bind="component.title"></div>
                </div>
            </div>
            <label class="samples-title label medium">Services</label>
            <hr />
            <div bind-for="services;service;idx">
                <div class="navigation-btn" bind-event="click:onSelectService:{service}">
                    <div class="icon"></div>
                    <div class="btn-title" bind="service.title"></div>
                </div>
            </div>
        </div>
        <div class="selected-page-content">
            <div bind-if="componentSamples[1].visible" bind-component="SimpleBindingSampleComponent"></div>
            <div bind-if="componentSamples[2].visible" bind-component="RepeatableSampleComponent"></div>
            <div bind-if="componentSamples[3].visible" bind-component="EventsSampleComponent"></div>
            <div bind-if="componentSamples[4].visible" bind-component="ConditionsSampleComponent"></div>
            <div bind-if="componentSamples[5].visible" bind-component="HttpClientSampleComponent"></div>
            <div bind-if="componentSamples[6].visible" bind-component="PropertyBindingsSampleComponent"></div>
            <div bind-if="componentSamples[7].visible" bind-component="FormsBindingSampleComponent"></div>
            <div bind-if="components[0].visible" bind-component="DropDownComponent"></div>            
            <div bind-if="components[1].visible" bind-component="NotificationsSampleComponent"></div>

            <div bind-if="codingSectionVisible">
                <div class="section-content">
                    <label class="label medium">HTML</label>
                    <code id="highlight-container-html" bind-text="selectedComponentData.html"></code>
                </div>
                <div class="section-content">
                    <label class="label medium">TypeScript</label>
                    <code id="highlight-container-ts" bind-text="selectedComponentData.ts"></code>
                </div>
                <div class="section-content">
                    <label class="label medium">SASS</label>
                    <code id="highlight-container-sass" bind-text="selectedComponentData.sass"></code>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="app-version" bind-text="appVersion"></div>
        <div class="copyright-text">© Vladimir Parchev in 2025 ®</div>
        <div class="shark-js-logo"></div>
    </div>
</div>