html, body, [bind-component="AppComponent"] {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    color: rgb(0, 0, 0)!important;
}

.app-component-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    .header {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+36,28343b+100;Grey+Black+3D */
        background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex: 1 auto;
    }

    .body {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#28343b+0,828c95+36,b5bdc8+100 */
        background: linear-gradient(to bottom,  #28343b 0%,#828c95 36%,#b5bdc8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        flex: 10 auto;
    }

    .shark-js-logo {
        background-image: url('../assets/shark_js_logo.png');
        background-position: center center;
        background-size: 64px 64px;
        height: 64px;
        width: 64px;
        display: inline-block; 
    }

    .section-content {
        border: 4px dashed rgb(0, 0, 0);
        padding: 20px;
        margin: 20px;
        border-radius: 5px;
        box-shadow: 8px 8px 12px black;
    }
}

.label {
    font-size: 20px;
    display: inline-block;
    text-decoration: overline;

    &.small {
        font-size: 18px!important; 
        text-decoration: none;
        color: rgb(255, 187, 0)!important;
    }

    &.medium {
        font-size: 25px!important;            
        text-decoration: none;
        color: rgb(255, 115, 0)!important;
    }

    &.big {
        font-size: 35px!important;
        
    }
}
