<div class="repeatable-component-root">
    <div class="section-content">
        <label class="label medium">Repeating values example</label>
        <div>
            <label class="label small">Simple repeater</label>
            <div bind-for="itemsSource;item;track">
                <div bind="item.value" bind-event="click:selectItem" bind-class="green-item:greenStyledItem"></div>
                <div bind="item.testProp" bind-event="click:selectItem" bind-class="blue-item:blueStyledItem"></div>
            </div>
        </div>
        <div>
            <label class="label small">Complex template repeater</label>
            <div bind-for="itemsSource;item;track">
                <div>
                    <div>
                        <div bind-class="green-item:greenStyledItem" bind="item.value" bind-event="click:selectItem"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>